
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, .btn , button{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    display: flex;
    line-height: 1;
    padding: 40px;
    font-family: var(--font-family-sourcesanspro);
}



ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{

    border: none;
    background-color: inherit;

}





:root {

    /*--COLORS--*/
    --color-noir: #000000;
    --color-gris_souris: #818181;
    --color-gris_clair: #D6D6D6;
    --color-blanc: #ffffff;
    --color-violet: #32083B;
    --color-lavande: #765D7E;
    --color-parme: #D093A9;
    --color-rose: #F594A0;
    --color-pourpre: #9B51E0;
    --color-rouge: #EB5757;
    --color-bleu_vert: #3D5560;
    --color-bleu_canard: #466B7B;
    --color-bleu: #6C9EB4;
    --color-bleu_ciel: #E4FBFE;
    --color-bleu_lien: #2D9CDB;
    --color-vert: #0BB38B;
    --color-vert_menthe: #C2ECE2;
    --color-vert_sapin: #219653;


    --color-shadow-negatif:245,148,160;
    --color-shadow-positif:11,179,139;
    --color-shadow-secondary:50,8,59;
    --color-shadow-disable:0,0,0;
    

    /*--FONT--*/
    --font-family-sourcesanspro: 'Source Sans Pro', sans-serif;
    --font-family-ubuntu: 'Ubuntu', sans-serif;
    --font-size-40: 40px;
    --font-size-30: 30px;
    --font-size-36: 36px;
    --font-size-18: 18px;
    --font-size-16: 16px;
    --font-size-14: 14px;
    --font-style-normal: 400;
    --font-style-medium: 600;
    --font-style-bold: 700;
    
    /*--SPACES--*/
    --space-xs:8px;
    --space-sm:16px;
    --space-md:32px;

    /*--PADDING--*/
    --paddingbouton: 8px 16px 8px 16px; 

    /*--BORDER--*/
    --border-radius-bouton: 47px;
}
.p-10-rl{
    padding: 0 10px;
}
.p-30-rl{
    padding: 0 30px;
}
.p-8-tb{
    padding: 8px 0;
}
.p-10-tb{
    padding: 10px 0;
}
.p-16-tb{
    padding: 16px 0;
}
.p-20-tb{
    padding: 20px 0;
}
.p-30-tb{
    padding: 30px 0;
}
.p-40-tb{
    padding: 40px 0;
}
.w-100{
    width: 100px;
}

main{
    padding: 80px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0px 12px 36px 0px rgba(0,0,0,0.4);
}
nav{
    width: 12%;
    padding: 40px;
}
nav ul{
    position: fixed;
}
nav li{
    padding: var(--paddingbouton);
    margin: var(--space-xs) 0;
    background-color:var(--color-gris_clair);
    color: var(--color-gris_souris);
    border-radius: 4px;
}

.en-tete{
    padding: var(--space-md) 0;
}

h1 {
    font-family: var(--font-family-sourcesanspro);
    font-size: var(--font-size-40);
    font-style: var(--font-style-normal);
}

h2 {
    font-style: var(--color-noir);
    font-family: var(--font-family-sourcesanspro);
    font-size: var(--font-size-30);
    font-style: var(--font-style-bold);
}

h3 {
    font-family: var(--font-family-sourcesanspro);
    font-size: var(--font-size-30);
    font-style: var(--font-style-bold);
    padding-top: 12px;
    padding-bottom: 6px;

}

.size {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}


/* Block & inline*/

.inline{
    display: inline-block;
}

.block{
    display: block;
}

.box-2cols {
    display: flex;
}

.box-2cols ul {
    width: 50%;
}

.box-2cols li {
    margin-bottom: 20px;
}

/*---------------------------------------COLORS-----------------------------*/
.noir {
    background-color: var(--color-noir);
}

.gris_souris {
    background-color: var(--color-gris_souris);
}

.gris_clair {
    background-color: var(--color-gris_clair);
}

.blanc {
    background-color: var(--color-blanc);
}

.violet {
    background-color: var(--color-violet);
}

.lavande {
    background-color: var(--color-lavande);
}

.parme {
    background-color: var(--color-parme);
}

.pourpre {
    background-color: var(--color-pourpre);
}

.rouge {
    background-color: var(--color-rouge);
}

.rose {
    background-color: var(--color-rose);
}

.bleu_vert {
    background-color: var(--color-bleu_vert);
}

.bleu_canard {
    background-color: var(--color-bleu_canard);
}

.bleu {
    background-color: var(--color-bleu);
}

.bleu_ciel {
    background-color: var(--color-bleu_ciel);
}

.bleu_lien {
    background-color: var(--color-bleu_lien);
}

.vert {
    background-color: var(--color-vert);
}

.vert_menthe {
    background-color: var(--color-vert_menthe);
}

.vert_sapin {
    background-color: var(--color-vert_sapin);
}



.shadow-negatif { 
    box-shadow:0px 6px 8px rgba(var(--color-shadow-negatif),0.5);
 } 

.shadow-primaire { 
    box-shadow:0px 6px 8px rgba(var(--color-shadow-positif),0.5);
}
.shadow-secondary { 
    box-shadow:0px 6px 8px rgba(var(--color-shadow-secondary),0.5);
}
.shadow-disable { 
    box-shadow:0px 6px 8px rgba(var(--color-shadow-disable),0.5);
}



.border-grey{
    
    border: 1px solid var(--color-gris_clair);
}

p {
    margin: auto;
    padding-bottom: 3px;
    padding-top: 0px;
}
section{
    padding: 32px 0;
}
/*------------------------Titre et Texte------------------------------*/
.h1 {
    font-family: var(--font-family-ubuntu);
    font-weight: var(--font-style-medium);
    font-size: var(--font-size-40);
}

.h2 {
    font-family: var(--font-family-ubuntu);
    font-weight: var(--font-style-normal);
    font-size: var(--font-size-36);
    color: var(--color-lavande);
}
.h3{
    font-weight: var(--font-style-normal);
    font-size: var(--font-size-18);
    color: var(--color-violet);
}

.sous_titre16 {
    font-family: var(--font-family-sourcesanspro);
    font-weight: var(--font-style-bold);
    font-size: var(--font-size-16);
    color: var(--color-gris_souris);
}

.sous_titre14 {
    font-family: var(--font-family-sourcesanspro);
    font-weight: var(--font-style-bold);
    font-size: var(--font-size-14);
    color: var(--color-gris_souris);
}

.texte_courant {
    font-family: var(--font-family-sourcesanspro);
    font-weight: var(--font-style-normal);
    font-size: var(--font-size-16);
    color: var(--color-gris_souris);
}

.texte_complémentaire {
    font-family: var(--font-family-sourcesanspro);
    font-weight: var(--font-style-normal);
    font-size: var(--font-size-14);
    color: var(--color-gris_souris);
}

.titre-section{
    font-size: 60px;
}
.box-3col{
    display: flex;
}
.box-3col ul{
    width: 33.33%;

}


/*------------------------ Bouton ------------------------------*/
.btn{
    margin: 15px;
}
/*------- Primaire -----------*/
.btn-primary {
    background-color: var(--color-vert);
    color: var(--color-blanc);
    padding: var(--paddingbouton);
    border-radius: var(--border-radius-bouton);
    box-shadow:0px 6px 8px rgba(var(--color-shadow-positif),0.5);
}

.btn-primary:hover {
    background-color: var(--color-vert_sapin);
}

.btn-primary:active {
    background-color: var(--color-vert_sapin);
}

/*------- Secondaire -----------*/
.btn-secondary {
    background-color: var(--color-violet);
    color: var(--color-blanc);
    padding: var(--paddingbouton);
    border-radius: var(--border-radius-bouton);
    box-shadow:0px 6px 8px rgba(var(--color-shadow-secondary),0.5);
}

.btn-secondary:hover {
    background-color: var(--color-pourpre);
}

.btn-secondary:active {
    background-color: var(--color-violet);
}

/*------- Negatif -----------*/
.btn-negatif {
    border: 1px solid var(--color-rouge);
    background-color: var(--color-blanc);
    color: var(--color-rouge);
    padding: var(--paddingbouton);
    border-radius: var(--border-radius-bouton);
    box-shadow:0px 6px 8px rgba(var(--color-shadow-negatif),0.5);
}

.btn-negatif:hover {
    background-color: var(--color-rouge);
    color: var(--color-blanc);
}

.btn-negatif:active {
    color: var(--color-blanc);
    background-color: var(--color-rose);
    border: 1px solid var(--color-rose);
}


/*------- Liens -----------*/
.btn-link {
    color: var(--color-bleu);
    background-color: var(--color-blanc);
    padding: var(--paddingbouton);
    border-radius: var(--border-radius-bouton);
    border: 1px solid var(--color-bleu_lien);
}
.btn-link:hover{
    background-color: var(--color-bleu);
    color:var(--color-blanc);
}

/*------- Liens négatif -----------*/
.btn-link-negatif {
    color: var(--color-rose);
    padding: var(--paddingbouton);
    border-radius: var(--border-radius-bouton);
    border: 1px solid var(--color-rouge);
}
.btn-link-negatif:hover{
    color:var(--color-blanc);
    background-color:var(--color-rouge);
}

.btn:disabled{
    color:var(--color-blanc);
    background-color:var(--color-gris_souris);
    box-shadow:0px 6px 8px rgba(var(--color-shadow-disable),0.5);
}


/* Style the buttons inside the tab */
.tab-btn {
  float: left;
  font-family: var(--font-family-ubuntu);
  font-weight: var(--font-style-medium);
  font-size: var(--font-size-18);
  text-transform: uppercase;
  margin: 10px 20px;
  color: var(--color-lavande);
}

.tab-btn.active{
    color: var(--color-violet);
        line-height: 10px;
}
.tab-btn.active:before{
    content:"";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--color-violet);
    border-radius: 4px;
    position: relative;
    top: 32px;
}


